.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centers items vertically */
    text-align: center;
    height: 100vh; /* Ensures the container takes the full viewport height */
    padding: 0; /* Adjust padding to avoid shifting the center */
    margin: auto;
  }
  
  .container h2 {
    font-size: 18px;
    max-width: 600px;
    margin: 20px 0; /* Spacing around the heading */
  }
  
  .container .button {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 15px;
    background: white;
    color: black;
    cursor: pointer;
  }
  